.card {
  display: flex; // Flex pour aligner l'image et le texte
  margin-bottom: 20px; // Sépare les cartes verticalement
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  width: 100%; // Assure que la carte occupe toute la largeur
  height: 210px;
  .imageContainer {
    width: 300px; // Largeur fixe pour l'image

    img {
      width: 100%;
      height: auto; // Ajuste la hauteur automatiquement
      object-fit: cover; // S'assure que l'image couvre le conteneur
    }
  }

  .textContainer {
    padding: 10px;
    flex: 1; // Prend tout l'espace restant

    .title {
      margin: 0 0 10px;
      font-size: 1.2em;
      color: #333;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .address {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      color: #666;

      img {
        width: 30px;
        margin-right: 10px; // Ajuste l'espace entre l'icône et le texte
      }
    }

    .description {
      font-size: 0.9em;
      margin: 10px 0;
      color: #555;
    }

    .priceRange {
      font-weight: bold;
      color: #28a745;
    }

    .bottom {
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      .icon img {
        width: 30px; // Ajuste la taille des icônes
        cursor: pointer;
      }
    }
  }
}